* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 51px;
}

.top__content {
    margin-top: 96px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
}

.top__buttons {
    margin-top: 37px;
}

.top__logos {
    padding-top: 97px;
    padding-bottom: 96px;
}